:root {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0px;
    border: 0;
    padding: 0;
    --orangeColor: #E46249;
    --lightColor: #faf8f6;
    --darkColor: #111112;
    --lighterDarkColor: #18181C;
}

body {
    margin: 0px;
    /* background-color: var(--lighterDarkColor); */
    background-color: var(--darkColor);

}

.header-section {
    background-color: var(--darkColor);

    width: 100%;
    height: 70px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.soundscape-small-logo {
    margin-top: 20px;
    height: 30px;
    margin-left: 50px;
}

.button {
    margin-right: 30px;
    margin-top: 15px;
    padding: 8px 10px;
    border-radius: 15px;
    background-color: var(--orangeColor);
    cursor: pointer;
}

.button:hover {
    border-color: #924232;
    transition: .5s;
}

.button a {
    color:var(--lightColor);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding:10px;
}


.main-section {
    background-color: var(--darkColor);
    display:flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.middle {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.tune-stats-logo {
    margin-top: 20px;
}

.slogan {
    color: var(--lightColor);
    font-weight: bold;
    font-size: 20px;
}

.slogan strong {
    color: var(--orangeColor);
    font-size: 26px;
}

.small-text {
    font-size: 14px;
}

.spotify-image {
    height: 370px;
    margin-top: -40px;
    margin-left: 400px;
}
