.viewed_video {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    filter: drop-shadow(0px 1px 40px #303030);
}

.viewed_video_thumbnail {
    max-width: 150px;
}

.viewed_video_text {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

h4,h1 {
    margin: 0;
}

.viewed_video_plays {
    font-size: 14px;
    color: gray;
}

.viewed_video_creator {
    font-size: 14px;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-container {
    /* width: 500px; */
    /* max-height: 350px; */
    margin: 2rem 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#barChartContainer {
    width: 500px;
}

#pieChartContainer canvas {
    width: 450px;
}